page-home {
  #main{
    background-color: #01A59A;
    color: #FFF;
  },
  .welc{
    font-size: 30px;
    padding-top: 150px;
  },
  .ic{
    font-size: 70px;
  },
  .btn{
    background-color: #FFF;
    color: #01A59A;
  }
}
